.FooterContainer {
    height: 3rem;
    background-color: #6D2323;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1301; /* Higher than sidebar (1200) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.SidebarContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 4rem; /* Ensure the footer does not overlap the content */
}

.SidebarContainer .MuiDrawer-root {
    position: fixed; /* Keeps the sidebar fixed in place */
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh; /* Full screen height */
    z-index: 1200; /* Sidebar stays on top of the content */
}

.SidebarContainer .MuiDrawer-paper {
    background-color: #ffffff;
    overflow-y: auto;
    padding-top: 0;
}
